.footer {
    position: relative;
    width: 1109px;
    height: 100px;
    margin: 0 auto;
    &__copyright {
        position: absolute;
        bottom: 15px;
        width: 250px;
        font-size: 12px;
    }
    &__address {
        position: absolute;
        bottom: 15px;
        left: 415px;
        font-size: 12px;
        &:before {
            content: '';
            background: url("../../icons/place.svg") no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            left: -20px;
        }
        &:after {
            content: '';
            background: url("../../icons/clock-icon.svg") no-repeat;
            width: 22px;
            height: 22px;
            transform: scale(70%);
            opacity: 0.6;
            position: absolute;
            left: -22px;
            top: 16px;
        }
    }
    &__developer {
        position: absolute;
        bottom: 15px;
        right: 0;
        font-size: 12px;
    }
}


