.header {
    position: relative;
    margin: 0 auto;
    width: 1109px;
    height: 160px;
}
.social {
    position: absolute;
    display: flex;
    top: 2px;
    right: 282px;
    &__item {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        cursor: pointer;
        opacity: 0.8;
        &:last-child {
            margin-right: 0;
        }
    }
}
.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    img {
        height: 150px;
    }
}
.hText {
    position: absolute;
    width: 498px;
    height: 133px;
    top: 33px;
    left: 215px;
    font-size: 16px;
    opacity: 0.8;
    &__name {
        font-size: 14px;
        color: var(--color-grey);
    }
    &__address {
        position: absolute;
        top: 60px;
        left: 15px;
        font-style: italic;
        font-size: 12px;
        color: var(--color-grey);
        &:before {
            content: '';
            background: url("../../assets/icons/place.svg") no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            left: -20px;
        }
        &:after {
            content: '';
            background: url("../../assets/icons/clock-icon.svg") no-repeat;
            width: 22px;
            height: 22px;
            transform: scale(70%);
            opacity: 0.6;
            position: absolute;
            left: -22px;
            top: 16px;
        }
    }
}

.hSearch {
    position: absolute;
    top: 8px;
    right: 51px;
    height: 20px;
    width: 200px;
    input[type=text] {
        opacity: 0.5;
        width: 242px;
        padding: 0px 29px 0px 5px;
        outline: none;
    }
    input[type="submit"] {
        position: absolute;
        top: 6px;
        left: 217px;
        width: 18px;
        height: 18px;
        background: url("../../assets/icons/search.svg") no-repeat center;
        border: none;
    }
}

.hPhones {
    position: absolute;
    top: 60px;
    left: 890px;
    width: 210px;
    a {
        font-size: 26px;
    }
}

.hModalLink {
    position: absolute;
    font-size: 16px;
    top: 110px;
    right: 260px;
    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 2px;
        left: -22px;
        background: url("../../assets/icons/telephone.svg") no-repeat center;
    }
    a {
        text-decoration: underline;
    }

}