.siteContent {
    &__newsPromos {
        &-links {
            margin: 10px 0;
            text-align: right;
            span {
                color: green;
                font-weight: 700;
            }
        }
        &-item {
            display: flex;
            position: relative;
            height: 210px;
            margin-bottom: 10px;
            img {
                width: 210px;
                height: 210px;
                border: 1px solid black;
                border-radius: 10px;
                object-fit: cover;
                &:hover {
                    box-shadow: 2px 2px 5px var(--color-black);
                }
            }
            i {
                display: block;
                height: 18px;
                margin-left: 5px;
                font-size: 14px;
                color: var(--color-main);
                padding-left: 5px;
                &.title {
                    position: relative;
                    font-size: 16px;
                    top: -2px;
                    color: var(--color-secondary);
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 17px;
                }
            }
            p {
              margin: 0;
              font-size: 14px;
              width: 603px;
              max-height: 176.4px;
              text-align: justify;
              text-indent: 1rem;
              padding-left: 10px;
            }
        }
    }
}
.news__categories-list {
    margin-top: 10px;
    padding: 5px;
    h4 {
        text-transform: uppercase;
        text-decoration: underline;
        font-style: 20px;
        font-weight: 700;
        margin-bottom: 5px;
        color: var(--color-secondary);
    }
    ul {
        list-style: none;
        li {
            margin-left: 15px;
            padding-left: 10px;
            border-left: 2px solid var(--color-secondary);
            a { 
                display: block;
                font-size: 14px;
                transition: all 0.5s;
                &:hover {
                    font-size: 20px;
                    transition: all 0.5s;
                }
            }
        }
    }

}

.gridPost {
    display: grid;
    width: 100%;
    grid-template-columns: 90px auto 161px;
    grid-template-rows: 45px auto;
    gap: 5px 0;
    .horizontal {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

}