.siteContent {
     // КЛАССЫ ДЛЯ СТРАНИЧКИ RESULTS
     &__resultsWrapper {
        h2 {
            margin-bottom: 10px;
        }
        &-links {
            margin: 10px 0;
            text-align: right;
            span {
                color: green;
                font-weight: 700;
            }
        }
        &-item {
            display: flex;
            position: relative;
            height: 266px;
            margin-bottom: 10px;
            img {
                width: 200px;
                height: 266px;
                border: 1px solid black;
                border-radius: 10px;
                &:hover {
                    box-shadow: 2px 2px 5px var(--color-black);
                }
            }
            i {
                display: block;
                height: 18px;
                margin-left: 5px;
                font-size: 14px;
                color: var(--color-main);
            }
            p {
              position: absolute;
              top: 20px;
              left: 205px;
              margin: 0;
              font-size: 14px;
              width: 603px;
              max-height: 246px;
              text-align: justify;
              text-indent: 1rem;
            }
        }
        
    }
}