.slider {
    position: relative;
    .container {
        min-width: 1109px;
        height: 350px;
    }
    .slider-form {
        position: absolute;
        z-index: 10;
        top: 47px; //208
        right: 31px;
        height: 275px;
        width: 300px;
        background-color: rgba(255,255,255,0.8);
        border-radius: 8px;
        h5 {
            text-align: center;
            font-style: bold;
            font-size: 20px;
            padding-top: 10px;
            color: var(--color-main);
        }
        h4 {
            text-align: center;
            font-style: bold;
            font-size: 13px;
            // padding-top: 10px;
        }
        input {
            width: 240px;
            font-size: 16px;
            margin-bottom: 10px;
            margin-left: 30px;
            outline: none;
            padding: 0 10px 0 10px;
            &:nth-child(1) {
                margin-top: 20px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
        button {
            display: block;
            margin: 0 auto;
            margin-top: 8px;
            width: 150px;
            height: 40px;
            background-color: var(--color-secondary);
            border: 0;
            border-radius: 5px;
            outline: none;
            color: var(--color-white);
            &:hover {
                box-shadow: 2px 2px 5px var(--color-black);
            }
        }
    }
}
